.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-weight: bold;
  font-size: 22px;
}
.links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.btn {
  border: none;
  padding: 7px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  border-radius: 8px;
}
.logout {
  background-color: #c03636;
}
.login {
  font-size: 14px;
}
