.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  width: 48px;
  height: 26px;
  border-radius: 30px;
  border: 1.5px solid #53c28b70;
  position: relative;
  cursor: pointer;
}
.icon {
  font-size: 14px;
}
.ball {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #53c28b;
  position: absolute;
}
